<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Beneficiary List <small>List of all registered beneficiaries</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">

                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                        <div class="col-lg-push-5 col-lg-3">
                            <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add_member">
                                <i class="fa fa-plus"></i> Add New </a>
                            <a href="javascript:;" class="btn btn-default btn-sm" download="Member List.xls" onclick="return ExcellentExport.excel(this, 'editable', 'List of Members');">
                                <i class="fa fa-list"></i> Excel </a>
                            <a href="javascript:;" class="btn btn-default btn-sm" ng-click="generatefromtable()">
                                <i class="fa fa-print"></i> PDF </a>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="editable" style="margin-top: 10px;">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th ng-click="sort('id')">
                                Id
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('firstname')">
                                First Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('lastname')">
                                Last Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='lastname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('phone')">
                                Phone Number
                                <span class="glyphicon sort-icon" ng-show="sortKey=='phone'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('association')">
                                Association
                                <span class="glyphicon sort-icon" ng-show="sortKey=='association'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" dir-paginate="member in members|filter:search|itemsPerPage:pageSize">
                            <td ng-bind="$index +1"></td>
                            <td ng-bind="member.id"></td>
                            <td ng-bind="member.firstname"></td>
                            <td ng-bind="member.lastname"></td>
                            <td ng-bind="member.phone"></td>
                            <td ng-bind="member.association"></td>
                            <td>

                                <a href="javascript:;" data-toggle="modal" ng-click="initEdit(member._id, member, $index,member)" data-target="#edit_field">
                                    <button class="btn-default btn-sm btn" ><i class="fa fa-pencil-square-o"></i>Edit</button>
                                </a>
                                <!--<a href="#/Transaction/{{member._id}}"><span class="btn btn-sm btn-success"><i class="fa fa-eye"></i> View Transactions </span></a>-->
                                <a href="javascript:;" data-toggle="modal" ng-click="initdeleteMember(member.Id, member, $index)" data-target="#delete_member">
                                    <button class="btn-danger btn-sm btn" >
                                        <i class="fa fa-trash-o"></i> Delete
                                        <img class="table-spinner member-{{$index}}" src="/images/spinner.gif" alt="Deleting" style="display: none;">
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <img class="loading" src="/images/loader.gif" alt="Loading" style="display: none;">
                    <div class="pull-right">
                        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- BEGIN MODAL VIEWS -->
<div id="add_member" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Members</h4>
            </div>
            <div class="col-md-12 ">
                <div class="modal-body">
                    <div class="alert alert-success" role="alert" ng-if="success">
                        <strong>Notification!</strong> {{success}}
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="error">
                        <p>  <strong>Oh snap!</strong> {{error}} </p>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#single" data-toggle="tab">Single</a>
                        </li>
                        <li>
                            <a href="#multiple" data-toggle="tab">Multiple</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active in" id="single">
                            <div class="col-lg-10 col-lg-push-1" style="margin-top: 20px;">
                                <form class="">

                                    <div class="form-group">
                                        <label for="firstname">First Name * :</label>
                                        <input id="firstname" type="text" class="form-control" ng-model="FormData.FirstName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Last Name * :</label>
                                        <input id="lastname" type="text" class="form-control" ng-model="FormData.LastName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="bvn">BVN * :</label>
                                        <input id="bvn" type="number" class="form-control" ng-model="FormData.BVN" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone Number * :</label>
                                        <input id="phone" type="number" class="form-control" ng-model="FormData.Phone" required>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="role">Role * :</label>
                                                <select id="role" class="form-control" ng-model="FormData.Role">
                                                    <option value="" disabled selected>Select Role</option>
                                                    <option>Admin</option>
                                                    <option>AGENT</option>
                                                    <option>MEMBER</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="group">association * :</label>
                                                <select id="group" class="form-control" ng-model="FormData.association" >
                                                    <option value="" disabled selected>Select association</option>
                                                    <option ng-repeat="association in Groups">{{association.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-circle btn-block" ng-click="submit(FormData)">ADD MEMBER <i class="fa fa-check"></i> </button>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 span_3" ng-if="List">
                                <div class="bs-example1" data-example-id="contextual-table">
                                    <table class="table">

                                        <tbody ng-repeat="x in List" >
                                        <tr class="active">
                                            <td>{{x.FirstName}} </td>
                                            <td> {{x.LastName}}</td>
                                            <td>{{x.Email}}</td>
                                            <td>{{x.Phone}}</td>
                                            <td>{{x.Role}}</td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="multiple">
                            <div class="form-group form-md-line-input form-md-floating-label" style="margin-top: 20px;">
                                <div class="col-lg-8">
                                    <label for="member-list-btn">Excel File (csv,xls,xlsx)* :</label>
                                    <input type="file" class="form-control" id="member-list-btn">
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="excel_group">association * :</label>
                                        <select class="form-control" id="excel_group" >
                                            <option value="0" selected disabled>Select a association</option>
                                            <option ng-repeat="association in Groups">{{association.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="help-block">
                            <span class="col-lg-6">Select Excel Sheet with member list</span>
                            <a class="excel_format col-lg-6" href="/download/member_excel.xls" target="_blank">
                                Click this link to download excel format!</a>
                            <span class="clearfix"></span>
                        </span>
                            </div>
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
                                                Member List Preview </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_2_1" class="panel-collapse in">
                                        <div class="panel-body" style="height: 350px; overflow: auto;">
                                            <table id="member-list" class="table table-striped table-bordered table-hover"></table>
                                            <div id="list-loader" style="display: none;">
                                                <img src="/images/spinner.gif"  alt="loading" style="display: block; margin:100px auto;"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
                <a href="javascript:;" id="addMembers_btn" ng-click="addMembers()" style="display: none;">
                    <button class="btn-primary btn" >Add Members</button> </a>
            </div>

        </div>
    </div>
</div>
<div id="delete_member" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Delete confirmation</h4>
            </div>
            <div class="modal-body">
                <!--<div class="alert alert-success" role="alert" ng-if="success">-->
                <!--<strong>Notification!</strong> {{success}}-->
                <!--</div>-->
                <!--<div class="alert alert-danger" role="alert" ng-if="error">-->
                <!--<p>  <strong>Oh snap!</strong> {{error}} </p>-->
                <!--</div>-->

                <h3>Are you sure you want to delete?</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="deleteMember()">Delete</button>
            </div>

        </div>
    </div>
</div>
<div id="edit_field" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="newModalLabel">Edit Member</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active in" id="edit_form">
                    <div class="col-lg-10 col-lg-push-1" style="margin-top: 20px;">
                        <form class="">

                            <div class="form-group">
                                <label for="editfirstname">First Name * :</label>
                                <input id="editfirstname" type="text" class="form-control" ng-model="EditFormData.FirstName" required>
                            </div>
                            <div class="form-group">
                                <label for="editlastname">Last Name * :</label>
                                <input id="editlastname" type="text" class="form-control" ng-model="EditFormData.LastName" required>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="editrole">Role * :</label>
                                        <select id="editrole" class="form-control" ng-model="EditFormData.Role">
                                            <option value="" disabled selected>Select Role</option>
                                            <option>Admin</option>
                                            <option>AGENT</option>
                                            <option>MEMBER</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="editField()">Confirm</button>
            </div>

        </div>
    </div>
</div>
<!-- END MODAL VIEWS -->